@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-muted: #525252;
  --foreground-strong: #0a0a0a;

  --button-bg: #0a0a0a;
  --button-fg: #ffffff;
}

:root[data-theme="dark"] {
  --background: #121212;
  --foreground: #e6e6e6;
  --foreground-muted: #bdbdbd;
  --foreground-strong: #ffffff;

  --button-bg: #ffffff;
  --button-fg: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
}